services:
    netdudes_data_sourcery.data_source.driver.doctrine.query_builder.builder.factory:
        class: "Netdudes\DataSourceryBundle\DataSource\Driver\Doctrine\QueryBuilder\BuilderFactory"
        arguments: [@doctrine.orm.entity_manager]

    netdudes_data_sourcery.data_source.driver.doctrine:
        class: "Netdudes\DataSourceryBundle\DataSource\Driver\Doctrine\DoctrineDriver"
        arguments: [@netdudes_data_sourcery.data_source.driver.doctrine.query_builder.builder.factory]

    netdudes_data_sourcery.data_source.choices_builder:
        class: Netdudes\DataSourceryBundle\DataSource\Util\ChoicesBuilder
        arguments: [@doctrine.orm.entity_manager]

    netdudes_data_sourcery.data_source.factory:
        class: "Netdudes\DataSourceryBundle\DataSource\DataSourceFactory"
        arguments: [@netdudes_data_sourcery.data_source.driver.doctrine, @netdudes_data_sourcery.data_source.builder.factory]

    netdudes_data_sourcery.data_source.builder.factory:
        class: "Netdudes\DataSourceryBundle\DataSource\DataSourceBuilderFactory"
        arguments: [@netdudes_data_sourcery.data_source.choices_builder]

    netdudes_data_sourcery.uql.interpreter.factory:
        class: Netdudes\DataSourceryBundle\UQL\InterpreterFactory
        arguments:
            - "@netdudes_data_sourcery.extension_container"

    netdudes_data_sourcery.extension.built_in_functions:
        class: Netdudes\DataSourceryBundle\Extension\BuiltInFunctionsExtension
        arguments:
            - "@security.context"
        tags:
            - { name: netdudes_data_sourcery.extension }

    netdudes_data_sourcery.extension_container:
        class: Netdudes\DataSourceryBundle\Extension\TableBundleExtensionContainer